Django==3.2.3
djangorestframework==3.12.4
djoser==2.1.0
djangorestframework-simplejwt==4.7.2
psycopg2
channels
daphne
uvicorn
channels_redis
textblob
textblob.download_corpora
googletrans==4.0.0-rc1
transformers
torch
tensorflow
tf-keras
openai
googletrans
langchain
autopep8
black
Pillow
drf-yasg
django-cors-headers
pytest
pytest-django
