Django==3.2.3
djangorestframework==3.12.4
djoser==2.1.0
djangorestframework-simplejwt==4.7.2
psycopg2
channels
daphne
uvicorn
channels_redis
textblob==0.15.3
googletrans==4.0.2
transformers
# torch
# tensorflow
tf-keras
openai
langchain
autopep8
black
Pillow
drf-yasg
django-cors-headers
pytest
pytest-django
psycopg2-binary
python-dotenv
django-extensions
pycodestyle==2.10.0


# Совместимые версии httpx и зависимостей
httpx>=0.27.2,<1.0.0
